/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,400&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer {
    .menu-transition {
        transition: all ease-in-out 0.3s;
    }

    .box-shadow_one {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .scrollbar-custom::-webkit-scrollbar {
        width: 5px;
        
    }

    .font-bangla {
        font-family: "Li Ador Noirrit", sans-serif;
    }

 
    /* Handle */
    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #1D87EA;
        border-radius: 15px;
    }
}

.splide__list {
    padding: 50px 0!important;
}


@font-face {
  font-family: "Li Ador Noirrit";
  src: url('../public/assets/fonts/Li\ Ador\ Noirrit\ Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Li Ador Noirrit";
  src: url('../public/assets/fonts/Li\ Ador\ Noirrit\ Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Li Ador Noirrit";
  src: url('../public/assets/fonts/Li\ Ador\ Noirrit\ SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
    font-family: "Li Ador Noirrit";
}